node_modules/
database.sqlite
*.sqlite
*.sqlite3
*.db
*.db-journal
*.log
npm-debug.log*
yarn-error.log*
server-dev*
.env
.env.local
.env.production
.env.development
public/uploads/*
!/public/uploads/.gitkeep
dumps/
dump/
backups/
backup/
sessions/
tmp/
temp/
.DS_Store
*.zip
